---
import Layout from '../layouts/Layout.astro';
---

<Layout title="关于我">
  <div class="page">
    <div class="container">
      <h1>关于</h1>

      <div>
        <h2>关于我</h2>
        <p>你好，这是我的个人博客，用来记录学习笔记和生活感悟。</p>
      </div>
      <hr />

      <div>
        <h2>关于此博客</h2>
        <p>此博客使用Astro框架搭建</p>
      </div>
    </div>
  </div>
</Layout>