<footer>
    <div id="copyright">
        <p>&copy; 2026 青蓝紫 · 思考与记录</p>
    </div>
</footer>

<style>
    footer {
        position: relative;
        bottom: 7px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        padding: 4px;
        margin-top: 10px;
        border-radius: 18px;
        background-color: #fefefe33;
    }

    #copyright {
        text-align: center;
        color: #01010199;
        font-size: 0.74rem;
    }
</style>