---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

// 基础布局组件
export interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
  </head>
  
  <body>
    <div id="bg-img"></div>
    <Navbar />
    <div id="page-container">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style>
  /* 保持右侧滚动条，防止布局抖动 */
  html {
    overflow-y: scroll;
  }

  body {
    line-height: 1.6;
    color: #2c3e50;
    background: #faf9f8;
    display: flex;
    flex-direction: column;
    /* 配合main的flex: 1;确保footer在页面底部 */
    min-height: 100vh; /* 这里必须是 min-height 而不是 height ，否则会让footer的底部外边距失效 */
  }

  #page-container {
    flex: 1;
    width: 100%;
    margin: 70px auto 0 auto;
    padding: 0 1rem;
  }

  #bg-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/草原.jpg');
    background-size: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    z-index: -1;
  }
</style>